<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="OliveWeb Default Index" stopProcessing="true">
                    <match url=".+" negate="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.php?p=index&amp;" />
                </rule>
                <rule name="OliveWeb URL Routing" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url=".*" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_URI}" pattern="([^\?]*)(.*)" />
                    </conditions>
                    <action type="Rewrite" url="index.php?p={C:1}&amp;" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
